[alias]
  a = add
  co = checkout
  ci = commit
  st = status
  br = branch
  pl = pull
  ps = push
  lc = rev-parse HEAD
  lt = describe --tags
  hist-all = log --pretty=format:'%C(bold red)%h%Creset | %Cgreen%s%d  %C(bold blue)%ad (%ar) %C(yellow) [%an]' --graph --date=short --decorate --color
  hist = log --pretty=format:'%C(bold red)%h%Creset | %Cgreen%s%d  %C(bold blue)%ad (%ar) %C(yellow) [%an]' --graph --date=short --decorate --color --max-count=10
  fo = fetch origin
  cp = cherry-pick
[user]
	name = Miloud Belarbi
	email = miloud.belarbi@essencedigital.com
[github]
	user = mberlarbi
	token = f558d759cc10977443cdbfadaf772be6f4027e86
[color]
	status = auto
	branch = auto
[color "branch"]
    current = green bold
    local = green
    remote = red bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red
[core]
	editor = /usr/bin/vim
	excludesfile = /home/miloudbelarbi/.gitignore
[merge]
	tool = meld
[diff]
	external = /home/miloudbelarbi/gitconfig/git-diff-cmd.sh
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
