[alias]
  a = add
  co = checkout
  ci = commit
  st = status
  br = branch
  pl = pull
  ps = push
  lc = rev-parse HEAD
  lt = describe --tags
  hist-all = log --pretty=format:'%C(bold red)%h%Creset | %Cgreen%s%d  %C(bold blue)%ad (%ar) %C(yellow) [%an]' --graph --date=short --decorate --color
  hist = log --pretty=format:'%C(bold red)%h%Creset | %Cgreen%s%d  %C(bold blue)%ad (%ar) %C(yellow) [%an]' --graph --date=short --decorate --color --max-count=10
  type = cat-file -t
  dump = cat-file -p
  fo = fetch origin
[user]
	name = Miloud Belarbi
	email = miloud.belarbi@tangentsnowball.com
[github]
	user = mberlarbi
	token = d42db83a8a58ec124c152edf6f220dea
[color]
	status = auto
	branch = auto
[color "branch"]
    current = green bold
    local = green
    remote = red Bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red
[core]
	editor = /usr/bin/vim
[merge]
	tool = opendiff
[mergetool "opendiff"]
  cmd = "opendiff \"$LOCAL\" \"$REMOTE\" -merge \"$MERGED\""
[diff]
	external = /Users/mbelarbi/bin/git-diff-cmd.sh
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
